
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.common-btn{
  background-color: #f0aa00;
  padding: 5px 10px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
}

.upper-header{
  padding: 10px;
  /* background-color: #006fa8; */
}

.header-inner{
    background-image: url('images/header-img.jpg');
    background-repeat: no-repeat;
}

.logo span{
  font-weight: 600;
  font-size: 28px;
  color: #fff;
}

select#website-select{
  padding: 5px 10px;
  border: none;
}

.lower-header{
  color: #fff;
  /* background-color: #fff; */
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

  ul.nav{
      display: flex;
      flex-direction: row;
      gap: 25px;
      background-color: transparent;
      position: relative;
      padding: 10px 0px;
  }
  
  ul.nav a{
      text-decoration: none;
      cursor: pointer;
      font-weight: 600;
    padding: 20px 0px;
    transition: .3s all ease;
  }

  ul.nav a:hover, ul.nav a.active{
    color: #f0aa00;
  }

  ul.nav li{
    position: relative;
  }

  ul.nav li:hover .dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    /* transform: translateY(10px); */
  }
  
  ul.nav li .dropdown{
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    left: 0;
    top: 139%;
    visibility: hidden;
    z-index: 10;
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    border-radius: 0 0 10px 10px;
    text-align: left;
    width: 250px;
    position: absolute;
    box-shadow: 0 10px 60px 0px rgba(0, 0, 0, 0.2);
  }
  
  ul.nav li .dropdown li{
    padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 15px;
    width: 100%;
  }

  ul.nav li .dropdown li:last-child{
    border-bottom: none;
  }
  
  ul.nav li .dropdown a{
    font-weight: 600;
    text-transform: capitalize;
  }

  ul.nav .dropdown ul li {
    color: #012952;
  }

  ul.nav .dropdown ul li:hover, ul.nav .dropdown ul li.active {
    background-color: #012952;
  }

 
  ul.nav li .dropdown li:hover a, ul.nav li .dropdown li.active a{
    color: #f0aa00;
  }


  ul.nav li .dropdown a span{
    padding-right: 15px;
  }
 


  
.swiper-pagination-bullet{
    overflow: hidden;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 2px #ffffff;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  
  .swiper-pagination-bullet-active{
    background: #fff;
  }

.swiper-slide h1{
    position: absolute;
    bottom: 50px;
    left: 45%;
    transform: translateX(-45%);
    font-size: 54px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
}

/* menu css start */

.mobile-header{
  background-color: #012952;
  padding: 10px 20px;
}

.mobile-logo img{
  width: 60px;
}

.mobile-header{
  display: none;
}

.menu_side_wrap {
  position: absolute;
  z-index: 20000;
  right: 20px;
  top: 15px;
  width: 60px;
}

.menu_side_inner{
  color: #ffffff;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu_mobile_button_text {
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}

.menu_side_wrap .menu_mobile_button {
  display: block;
  right: 50%;
  top: 10px;
  font-size: 30px;
  z-index: 1;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 100%;
  height: auto;
  cursor: pointer;
  position: absolute;
}

.menu_mobile_button {
  color: #ffffff;
}

.menu_side_wrap .menu_mobile_button:hover{
  color: #f0aa00;
}

.menu_mobile_overlay {
  display: none !important;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 20px;
  background-color: rgba(0,0,0,0.8);
}

.menu_mobile {
  position: fixed;
  z-index: 100002;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  margin-left: -300px;
  -webkit-transition: margin ease .3s;
  -moz-transition: margin ease .3s;
  -ms-transition: margin ease .3s;
  -o-transition: margin ease .3s;
  transition: margin ease .3s;
}
/* 
.opened {
  margin-right: 0 !important;
} */

.menu_mobile_inner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  background-color: #012952;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu_mobile_inner a {
  color: #ffffff;
}

.icon-cancel{
  color: #ffffff;
}

.menu_mobile_close {
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25em;
  margin: 2em 2em 0 0;
}

.menu_mobile_close::before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  border-color: #ffffff;
}

.menu_mobile_close::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  transform: rotate(-45deg);
  border-color: #ffffff;
}

.accordion-item .accordion-title{
  position: relative;
  padding: 10px 30px 10px 0;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
}

.accordion-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
  padding: 0;
  margin: 0;
}

.accordion-content.active{
  max-height: auto;
}

.accordion-content ul li{
  list-style-type: none;
  padding: 3px 0px;
}

.accordion-content ul li:hover a, .accordion-content ul li.active a{
  color: #f0aa00;
}

.accordion-item.active .accordion-content{
  /* line-height: 24; */
  font-size: 14px;
  text-transform: capitalize;
}

.accordion-item .accordion-title::before{
  content: "+";
  position: absolute;
  right: 10px;
  font-size: 17px;
  top: 7px;
}

.accordion-item.active .accordion-title::before{
  content: "-";
  font-size: 17px;
  top: 7px;
}

.gallery::before{
  display: none;
}

/* menu css end */




/* aea section css start */

.aea-section{
  width: 100%;
  background-color: #012952;
}

.learnmore {
  padding: 65px 1px 60px 10px;
  position: relative;
}

.vl {
  border-left: 2px solid #f0aa00;
  height: 65px;
  position: absolute;
  left: 17%;
  margin-left: -3px;
  top: 1px;
}

.learnmore3 {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: absolute;
  display: flex;
  top: 64px;
  justify-content: center;
  left: 23px;
  align-items: center;
  background-color: #f0aa00;
}

.imgcircle img{
  width: 50%;
  display: flex;
  margin: 0 auto;
}

.learnmore1 {
  padding: 0 0px 0 83px;
  color: white;
}

.learnmore1 h5 {
  padding: 0 0 0 20px;
  font-weight: bold;
}

.learnmore1 span {
  padding: 0px 0 0px 18px;
  display: block;
}

.learnmore1 a {
  color: #f0aa00;
  padding: 0px 0 0 21px;
}

.learnmore1 a:hover{
  color: #ffffff;
}

/* aea section css end */

/* about section css start */

.about-section{
  padding: 0 0 70px 0;
}

.about-content, .about-img{
  padding: 100px 0 0 0px;
}

.about-content h3{
  color: #f0aa00;
  font-weight: bold;
  /* padding: 2px 0 10px 0; */
}

.about-content p{
  text-align: justify;
  font-size: 17px;
  font-weight: 600;
}


/* about section css end */

/* event section css start */

.event-section{
  padding: 100px 0;
  background-color: #F6F6F6;
}

.event-section h1{
  color: #f0aa00;
  font-weight: bold;
  text-align: center;
}

/* event calender css start */

.event-calender{
  margin-top: 60px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header #month {
  color: #012952;
  font-size: 30px;
  font-weight: 600;
}

.header button {
  width: 75px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.header button {
  background-color: #012952;
}
.weekdays {
  width: 100%;
  display: flex;
  background-color: #2f3640;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

.weekdays div {
  width: 100px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #cbd4c2;
  color: #7f8fa6;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: rgba(112, 111, 211, 0.1);
  color: #706fd3;
}

#currentDay {
  background-color: #706fd3;
  color: #fff;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.event.holiday {
  background-color: palegreen;
  color: #3d3d3d;
}

.plain {
  cursor: default;
  box-shadow: none;
}

#modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

#addEvent,
#viewEvent {
  display: none;
  width: 350px;
  background-color: #fff;
  padding: 25px;
  position: absolute;
  z-index: 20;
}

#addEvent h2,
#viewEvent h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

#txtTitle {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #cbd4c2;
  font-size: 16px;
}

#btnSave {
  background-color: #2ed573;
}

.btnClose {
  background-color: #2f3542;
}

#viewEvent p {
  margin-bottom: 20px;
}

#btnDelete {
  background-color: #ea2027;
}

.error {
  border-color: #ea2027 !important;
}

.event-desc{
  border: 1px solid #d1d1d1;
  overflow: hidden;
  padding: 40px 30px 30px;
  min-height: 400px;
}

.event-desc h3{
  font-size: 20px;
  margin: 0 0 20px;
  padding: 0 0 15px;
  border-bottom: 1px solid #d1d1d1;
}

.event-desc ul li span{
  font-size: 16px;
  color: #555;
  margin-right: 10px;
}

/* event calender css end */

/* event section css end */




/* activities section css start */

.activities-section{
  padding: 100px 0px;
}

.activities-section h1{
  text-align: center;
  color: #f0aa00;
  font-weight: bold;
  margin-bottom: 50px;
}

.activities {
  background-color: #ffb7396b;
  text-align: center;
  padding: 35px 40px 44px 40px;
  border-radius: 6px;
  position: relative;
  min-height: 380px;
}

.activity-img{
  background-color: #f0aa00;
    padding: 3px 5px 3px 5px;
    border-radius: 6px;
    width: 50%;
    display: inline-table;
}

.activities img {
  width: 90%;
}

.activities h4{
    padding: 15px 0 5px 0;
    font-size: 19px;
    font-weight: bold;
}

.midarrow {
  position: absolute;
  border-radius: 65%;
  width: 45px;
  height: 45px;
  background-color: #012952;
  padding: 9px 9px 9px 9px;
  right: 42%;
  /* top: 100%; */
  bottom: -23px;
}

.midarrow img {
  width: -webkit-fill-available;
}

/* activities section css end */


/* footer css start */

.footer-inner{
  padding: 50px 0px;
  background-image: url('images/footer.jpg');
  background-repeat: no-repeat;
  color: #ffffff;
}

.footer-links h4{
  font-weight: bold;
}

.footer-links hr{
  width: 80px;
  height: 5px;
}

.footer-links ul li{
  padding: 8px 0px;
}

.footer-links ul li a:hover{
  color: #f0aa00;
}

.abt-footer{
  text-align: justify;
}

.lower-footer{
  background-color: #012952;
  padding: 10px 0px;
}

.lower-footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.lower-footer-content p{
  margin: 0;
}

.lower-footer-content img{
  width: 100px;
}

/* footer css end */

/* animation */

.fadeInAnimation1{
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.fadeInAnimation2{
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
}

.fadeInAnimation3{
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 600ms;
}

  
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


@media screen and (max-width:768px) {
  .header-inner{
    display: none;
  }

  .mobile-header{
    display: block;
  }

  .swiper-slide h1{
    font-size: 24px;
  }

  .learnmore1 h5, .learnmore1 a, .learnmore1 span{
    padding: 0;
  }

  .learnmore1 span, .learnmore1 a {
    font-size: 14px;
  }

  .learnmore3{
    width: 60px;
    height: 60px;
    left: 5px;
  }

  .about-section, .event-section, .activities-section{
    padding: 80px 40px;
  }

  .about-content{
    padding: 0;
  }

  .about-content p, .activity-img span{
    font-size: 14px;
    padding: 0;
  }

  .event-section .container{
    padding: 0;
  }

  .header{
    align-items: center;
  }

  .header button, .day{
    width: 40px;
    height: 40px;
  }

  .header #month{
    font-size: 16px;
  }

  .weekdays{
    font-size: 11px;
  }

  .event-calender .row{
    gap: 20px;
  }

  .activities-section .row{
    gap: 30px
  }
  
  .activities{
    padding: 35px 30px 35px 30px;
    min-height: auto;
  }

  .activities span{
    font-size: 14px;
  }

  .activity-img {
    width: auto;
  }

  .activities img {
    width: 50%;
}

  .midarrow{
    width: 35px;
    height: 35px;
    bottom: -20px;
    right: 47%;
    padding: 4px 9px 9px 9px;
  }
  
  .footer-inner{
    background-size: cover;
  }

  .logo-footer img{
    width: 100px;
  }

  .lower-footer-content{
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    padding: 10px 0px;
  }

  .footer-links ul li {
    padding: 5px 0px;
    font-size: 14px;
  }

  .footer-links hr {
    width: 80px;
    height: 5px;
    margin: 5px 0px;
  }

  .lower-footer-content img {
    width: 80px;
}
}

@media screen and (max-width:450px) {
  .header-inner{
    display: none;
  }

  .mobile-header{
    display: block;
  }

  .swiper-slide h1{
    font-size: 24px;
  }

  .learnmore {
    padding: 30px 0px 30px 10px;
    border-bottom: 1px solid #f2f2f2;
  }

  .learnmore3{
    width: 50px;
    height: 50px;
    left: 30px;
  }

  .about-section, .event-section, .activities-section{
    padding: 80px 40px;
  }

  .about-section .row{
    flex-direction: column-reverse;
    gap: 20px;
  }

  .about-content, .about-img{
    padding: 0;
  }

  .about-content p, .activity-img span{
    font-size: 14px;
    padding: 0;
  }

  .event-section .container{
    padding: 0;
  }

  .header{
    align-items: center;
  }

  .header button, .day{
    width: 40px;
    height: 40px;
  }

  .header #month{
    font-size: 16px;
  }

  .weekdays{
    font-size: 11px;
  }

  .event-calender .row{
    gap: 20px;
  }

  .activities-section .row{
    gap: 30px
  }
  
  .activities{
    padding: 35px 30px 35px 30px;
    min-height: auto;
  }

  .midarrow{
    width: 35px;
    height: 35px;
    bottom: -20px;
    padding: 4px 9px 9px 9px;
  }
  
  .footer-inner{
    background-size: cover;
  }

  .footer-inner .row{
    gap: 20px;
  }

  .logo-footer img{
    width: 100px;
  }

  .lower-footer-content{
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    padding: 10px 0px;
  }

  .footer-links ul li {
    padding: 5px 0px;
  }

  .footer-links hr {
    width: 80px;
    height: 5px;
    margin: 5px 0px;
  }

  .lower-footer-content img {
    width: 80px;
}
}