
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px auto;
    max-width: 1600px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

ul{
    padding: 0;
}

ul li{
    list-style-type: none;
}

.section-lg{
    padding: 50px 0px;
}

.small-heading{
  background: linear-gradient(90deg, #f8be00 0%, #f8be00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-family: 'Bilbo Swash Caps', cursive;
    letter-spacing: 3.5px;
    font-weight: 600;
    display: inline-block;
    line-height: 1.2;
}

.common-heading{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.common-heading h2{
  text-transform: capitalize;
  color: #085291;
  font-weight: 600;
  font-size: 32px;
}

.primary-color{
    color: #191919;
}

.secondary-color{
    color: #5c5c5c;
}

.view-btn{
    color: #085291;
    font-weight: 700;
    font-size: 18px;
}

.view-btn:hover{
    color: #085291;
}

.view-btn span{
    margin-left: 10px;
}

.carousel-item img{
    width: 100%;
}


.carousel, #header, header{
    position: relative;
}

.upper-header{
    background-color: #085291;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-upper-header{
    display: flex;
    gap: 20px;
}

.left-upper-header a{
    color: #fff;
}

.left-upper-header a:hover{
    text-decoration: underline;
}

.left-upper-header a span{
    margin-right: 10px;
    font-size: 14px;
}

.right-upper-header{
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-upper-header a{
    color: #fff;
}

.right-upper-header a:hover{
    text-decoration: underline;
}

.payment-btn{
    background-color: #f8c301;
    padding: 5px 15px;
    color: #191919  ;
    border-radius: 50px;
}

/* .carousel-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.9) 100%);
} */

.lower-header{
    color: #fff;
    position: absolute;
    top: 9%;
    left: 0;
    right: 0;
    z-index: 1;
}

.lower-header .container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.lower-header img{
    width: 80px;
}

.lower-header .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.lower-header .school-name{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}
  
    ul.nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-start;
        width: 100%;
    }

    ul.nav .nav-li > a{
        padding: 0px 0px 15px 0px;
        font-weight: 500;
        color: #fff;
    }

    ul.nav .nav-li > a{
        margin: 0px 20px;
    }

    ul.nav .nav-li > a.active, ul.nav .nav-li > a:hover{
        border-bottom: 5px solid #f8c301;
    }
    
    ul.nav a{
        text-decoration: none;
        padding: 9px 0px;
        font-size: 16px;
        cursor: pointer;
    }
  
    ul.nav li{
      position: relative;
    }

    .nav-li a.active, .nav-li a:hover{
      color: #085291;
    }

    ul.nav li:hover .dropdown {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      /* transform: translateY(10px); */
    }
    
    ul.nav li .dropdown{
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      left: 20px;
      top: 170%;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      text-align: left;
      width: 230px;
      position: absolute;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
    
    ul.nav li .dropdown li{
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
    }
  
    ul.nav li .dropdown li:last-child{
      border-bottom: none;
    }
    
    ul.nav li .dropdown a{
        font-weight: 500;
        font-size: 14px;
        color: #085291;
      text-transform: capitalize;
    }
  
    ul.nav li .dropdown ul li{
      color: v;
    }
  
    ul.nav li .dropdown li:hover,  ul.nav li .dropdown li.active{
      background-color: #085291;
    }
  
    ul.nav li .dropdown li:hover a,  ul.nav li .dropdown li.active a{
      color: #fff;
      padding-right: 15px;
    }
  
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: .5;
        transition: opacity .6s ease;
        position: relative;
    }

    .carousel-indicators .active{
        opacity: 1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
        border: none;
        border-radius: 50%;
        background: transparent;
    }

    .enroll-div{
        position: absolute;
        bottom: -9%;
        left: 0;
        right: 0;
        background-color: #f2f2f2;
        padding: 15px 0px;
    }

    .enroll-div .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .enroll-div .payment-btn{
        background-color: transparent !important;
        color: #085291 !important;
    }

    .enroll-div .payment-btn svg{
        stroke: #085291 !important;
    }

    .left-enroll{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

select#website-select{
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #ffffffee;
  }

/* marquee css start */

.marquee-container {
   width: 100%;
   background-color: #00a6ac;
   padding: 15px 0;
 }

 .marquee-content {
   display: flex;
   animation: marquee 20s linear infinite;
 }

 .marquee-item {
   flex: 0 0 auto;
   padding: 0 20px;
   font-size: 1.2rem;
   color: #191919;
 }

 @keyframes marquee {
   0% {
     transform: translateX(100%);
   }

   100% {
     transform: translateX(-100%);
   }
 }

 /* Optional: Pause animation on hover */
 .marquee-container:hover .marquee-content {
   animation-play-state: paused;
 }

/* counters section css start */

.box h2{
    color: #191919;
    font-weight: 700;
    text-align: center;
}
.box p{
    color: #191919;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .5px;
    font-weight: 700;
}

.counters{
    display: flex;
    justify-content: space-evenly;
}

/* counters section css end */

/* why choose section css start */

.why-choose-inner{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  row-gap: 30px;
}

.why-choose-item{
  position: relative;
}

.why-choose-heading{
  background-color: #fdd03a;
  border-radius: 15px;
  padding: 10px 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.why-choose-heading h6{
  font-weight: 600;
  font-size: 18px;
}

.wci-img{
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0px auto;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
}

.wci-icons{
  width: 50px;
}

/* why choose section css end */

/* achivement section css start */

.grid-container {
  columns: 4 250px;
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.grid-container div {
  width: 250px;
  margin: 0 20px 20px 0;
  display: inline-block;
  width: 100%;
  border: solid 2px #085291;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div:hover {
  border-color: #f8c301;
}
.grid-container div img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div p {
  margin: 5px 0;
  font-weight: 700;
  padding: 0;
  text-align: center;
  font-style: italic;
}

/* achivement section css end */



/* about section css start */

.about-section{
  background-color: #faf9f9;
  margin-top: 50px;
  border-radius: 15px;
  padding: 0;
}

.about-inner{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 55px 40px;
  gap: 20px;
  border-bottom: 15px solid #085291;
  border-radius: 20px;
}

.about-inner p{
  line-height: 1.8;
  font-size: 17px;
}

/* about section css end */


/* facilities section css start */

.facilities-section .swiper{
  margin-top: 40px;
  padding-bottom: 50px;
}

.facilities-section .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #085291;
}

.facilities-section .swiper-pagination-bullet-active{
  background: #085291;
}

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  position: relative;
}

.facilities-section .card{
  border: none;
}

.facilities-section .card-body{
  background-color: #dfdddd;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
      margin-top: -50px;
      margin-right: 10px;
      margin-left: 10px;
      z-index: 1;
  color: #191919;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

/* #library{
  background-color: #218b00;
}

#computer-lab{
  background-color: #f36e01;
}

#science-lab{
  background-color: #00a6ac;
}

#outdoor-sports{
  background-color: #4e017a;
}

#indoor-sports{
  background-color: #7a6401;
}

#health{
  background-color: #012b7a;
} */

.card-text{
  font-size: 14px;
}

/* facilities section css end */

/* counter section css start */

.counter-section{
  background-image: url('images/counter-bg2.jpeg');
  background-size: contain;
  background-position: 100% 100%;
}

.counters{
  padding: 70px 0px;
}

/* counter section css end */

/* school news section start */

.school-news-inner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  margin-top: 30px;
}

.school-news-item img{
  width: 100%;
}

/* school news section end */

/* events section css start */

.events-section .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #085291;
}

.events-section .swiper-pagination-bullet-active{
  background: #085291;
}

.events-section .mySwiper1{
  margin-top: 40px;
  padding-bottom: 50px;
}

.events-item{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.events-item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.events-desc{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.events-desc p:first-child{
  color: #5c5c5c;
}

.events-desc p .dot{
  width: 4px;
    height: 4px;
    background-color: #5c5c5c;
    border-radius: 50%;
    display: inline-block;
    margin: 2px 5px;
}

.events-desc h5{
  color: #f36e01;
  font-weight: 600;
}

/* events section css end */


/* footer css start */

#footer{
    background-color: #085291;
    color: #fff;
}

.footer-inner img{
  width: 100px;
}

.footer-inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.footer-links hr {
  width: 80px;
  height: 5px;
  border-color: #fff000;
}

.footer-links ul li{
  padding: 7px 0px;
}

.footer-links ul li a{
  color: #fff;
}

.footer-links ul li:hover a{
  text-decoration: none;
  color: #fff000;
  text-decoration: underline;
}

.lower-footer{
  padding: 30px 0px;
  border-top: 2px solid #FFFFFF21;
}

.lower-footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-footer-links p{
    margin: 0;
    color: #fff;
    font-size: 14px;
}

/* footer css end */



/********** fOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9f2ff;
    padding: 5px 10px;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #085291;
    cursor: pointer;
    list-style: none;
    margin: 6px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 5px;
    color: #085291;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#085291;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #e9f2ff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:15px 0px;  font-weight: 600;}
.menu li:hover{display: block;    background-color: #e9f2ff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#085291;font-size: 14px;}
.menu ul li a:hover {  color: #085291; text-decoration:none;}
.menu a{text-decoration:none; color:#085291;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 10px;
    margin-left: 2px;
}

.glyphicon-home{
  color: #085291; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #085291;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #085291;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #085291;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.hamburger, .cross, .menu{
  display: none;
}

.mobile-menu-container .logo img{
    width: 50px;
}


  @media screen and (max-width:1024px) {
  .mobile-header{
        display: block;
        top: 0;
        left: 0;
        right: 0;
    }

    .upper-header,.lower-header, .marquee-container{
        display: none;
    }

    .section-lg, .about-inner{
      padding: 30px 20px;
    }

    p, .about-inner p{
      font-size: 14px;
    }

    .small-heading{
      font-size: 18px;
    }

    .common-heading h2{
      font-size: 24px;
    }

     .school-news-inner{
      grid-template-columns: repeat(1,1fr);
      gap: 20px;
    }

    .why-choose-inner{
      grid-template-columns: repeat(3,1fr);
      gap: 20px;
    }

    .facilities-section .card-body{
      padding: 15px;
    }

    .wci-img{
      height: 165px;
    }

    .why-choose-heading {
    padding: 5px 15px;
    justify-content: center;
    }

    .wci-icons {
    width: 30px;
    }

    .counters {
      padding: 0px 0px;
      align-items: center;
      justify-content: space-between;
    }

    .box p {
    font-size: 14px;
    text-transform: capitalize;
    }

    .box h2 {
    font-weight: 600;
    font-size: 16px;
  }

  .counter-section .container{
    padding: 0;
  }

  .events-section .mySwiper1 {
    margin-top: 30px;
    padding-bottom: 0px;
}

.footer-links ul li {
    padding: 5px 0px;
    font-size: 14px;
}

.lower-footer-links{
  flex-direction: column;
}

.lower-footer-links p{
  font-size: 12px;
}
  }

    @media screen and (max-width:768px) {
  .mobile-header{
        display: block;
        top: 0;
        left: 0;
        right: 0;
    }

    .upper-header,.lower-header, .marquee-container{
        display: none;
    }

    .section-lg, .about-inner{
      padding: 30px 20px;
    }

    p, .about-inner p{
      font-size: 14px;
    }

    .small-heading{
      font-size: 18px;
    }

    .common-heading h2{
      font-size: 24px;
    }

     .school-news-inner, .footer-inner{
      grid-template-columns: repeat(1,1fr);
      gap: 20px;
    }

    .why-choose-inner{
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
    }

    .facilities-section .card-body{
      padding: 15px;
    }

    .wci-img{
      height: 165px;
    }

    .why-choose-heading {
    padding: 5px 15px;
    justify-content: center;
    }

    .wci-icons {
    width: 30px;
    }

    .counters {
      padding: 0px 0px;
      align-items: center;
      justify-content: space-between;
    }

    .box p {
    font-size: 14px;
    text-transform: capitalize;
    }

    .box h2 {
    font-weight: 600;
    font-size: 16px;
  }

  .counter-section .container{
    padding: 0;
  }

  .events-section .mySwiper1 {
    margin-top: 30px;
    padding-bottom: 0px;
}

.footer-links ul li {
    padding: 5px 0px;
    font-size: 14px;
}

.lower-footer-links{
  flex-direction: column;
}

.lower-footer-links p{
  font-size: 12px;
}
  }

@media screen and (max-width:576px) {
  .mobile-header{
        display: block;
        top: 0;
        left: 0;
        right: 0;
    }

    .upper-header,.lower-header, .marquee-container{
        display: none;
    }

    .section-lg, .about-inner{
      padding: 30px 20px;
    }

    p, .about-inner p{
      font-size: 14px;
    }

    .small-heading{
      font-size: 18px;
    }

    .common-heading h2{
      font-size: 24px;
    }

    .why-choose-inner, .school-news-inner, .footer-inner{
      grid-template-columns: repeat(1,1fr);
      gap: 20px;
    }

    .wci-img{
      height: 165px;
    }

    .why-choose-heading {
    padding: 5px 15px;
    justify-content: center;
    }

    .wci-icons {
    width: 30px;
    }

    .counters {
      padding: 0px 0px;
      align-items: center;
      justify-content: space-between;
    }

    .box p {
    font-size: 14px;
    text-transform: capitalize;
    }

    .box h2 {
    font-weight: 600;
    font-size: 16px;
  }

  .counter-section .container{
    padding: 0;
  }

  .events-section .mySwiper1 {
    margin-top: 30px;
    padding-bottom: 0px;
}

.footer-links ul li {
    padding: 5px 0px;
    font-size: 14px;
}

.lower-footer-links{
  flex-direction: column;
}

.lower-footer-links p{
  font-size: 12px;
}
  }





